<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Searchbar with a placeholder -->
  <ion-searchbar placeholder="Buscar Filmes"></ion-searchbar>

  <ion-list>

    <ion-item lines="full">
        <img slot="start" class="film" src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/pNAOG8mvstBhUE1jhbGkB87G2VV.jpg">
      <ion-label class="ion-text-wrap">
        <div class="desc">
          <h3>João e Maria: Caçadores de Bruxas</h3>
          <p class="data">25/01/2013 (BR)</p>
          <ion-badge color="gray">Fantasia</ion-badge>
          <ion-badge class="seg" color="gray">Terror</ion-badge>
        </div>
      </ion-label>

      <ion-chip color="light" class="nota-filme">
        <ion-label>60%</ion-label>
      </ion-chip>

    </ion-item>

    <ion-item lines="full">
        <img slot="start" class="film" src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/pNAOG8mvstBhUE1jhbGkB87G2VV.jpg">
      <ion-label class="ion-text-wrap">
        <div class="desc">
          <h3>João e Maria: Caçadores de Bruxas</h3>
          <p class="data">25/01/2013 (BR)</p>
          <ion-badge color="gray">Fantasia</ion-badge>
          <ion-badge class="seg" color="gray">Terror</ion-badge>
        </div>
      </ion-label>

      <ion-chip color="light" class="nota-filme">
        <ion-label>Default</ion-label>
      </ion-chip>

    </ion-item>

    </ion-list>
</ion-content>
