<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title color="primary">
      FIlmes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Searchbar with a placeholder -->
  <ion-searchbar placeholder="Buscar Filmes"></ion-searchbar>

  <ion-list>

    <ion-item routerLink="/joao-maria" lines="full">
        <img slot="start" class="film" src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/pNAOG8mvstBhUE1jhbGkB87G2VV.jpg">
      <ion-label class="ion-text-wrap">
        <div class="desc">
          <h3>João e Maria: Caçadores de Bruxas</h3>
          <p class="data">25/01/2013 (BR)</p>
          <ion-badge color="gray">Fantasia</ion-badge>
          <ion-badge class="seg" color="gray">Terror</ion-badge>
          <ion-badge color="gray">Ação</ion-badge>
        </div>
      </ion-label>

      <ion-chip class="nota-filme" color="danger" outline>
        <ion-label>60%</ion-label>
      </ion-chip>
    </ion-item>
    <!--João & Maria-->

    <ion-item routerLink="/gente-grande" lines="full">
        <img slot="start" class="film" src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/vaXiEVLD0fGSMU801Zftw1csPPm.jpg">
      <ion-label class="ion-text-wrap">
        <div class="desc">
          <h3>Gente Grande 2</h3>
          <p class="data">12/07/2013 (BR)</p>
          <ion-badge color="gray">Comédia</ion-badge>
        </div>
      </ion-label>

      <ion-chip class="nota-filme" color="success" outline>
        <ion-label>61%</ion-label>
      </ion-chip>
    </ion-item>
    <!--Gente Grande-->


    <ion-item routerLink="/o-poderoso-chefao" lines="full">
        <img slot="start" class="film"
        src="https://cdn.tlc-massive.com/shain/v1/dataservice/ResizeImage/$value?Format=%27png%27&Quality=85&ImageId=%27178626.png%27&ImageUrl=%27178626.png%27&EntityType=%27Item%27&EntityId=%276907%27&device=web_browser&subscriptions=Anonymous&Width=360&Height=540">
      <ion-label class="ion-text-wrap">
        <div class="desc">
          <h3>O Poderoso Chefão</h3>
          <p class="data">07/07/1972 (BR)</p>
          <ion-badge color="gray">Drama</ion-badge>
          <ion-badge color="gray" class="seg">Crime</ion-badge>
          </div>
      </ion-label>

      <ion-chip class="nota-filme" color="dark" outline>
        <ion-label>87%</ion-label>
      </ion-chip>
    </ion-item>
    <!--Poderoso Chefão-->

    <ion-item routerLink="/abraham-lincoln" lines="full">
        <img slot="start" class="film" src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/8Rli2nwRdQ1ZFdIXk54XjtKoL4a.jpg">
      <ion-label class="ion-text-wrap">
        <div class="desc">
          <h3>Abraham Lincoln: Caçador de Vampiros</h3>
          <p class="data">31/08/2012 (BR)</p>
          <ion-badge color="gray">Ação</ion-badge>
          <ion-badge color="gray" class="seg">Fantasia</ion-badge>
          <ion-badge color="gray">Terror</ion-badge>
          </div>
      </ion-label>

      <ion-chip class="nota-filme" color="primary" outline>
        <ion-label>61%</ion-label>
      </ion-chip>
    </ion-item>
    <!--Abraham Lincoln-->

    <ion-item routerLink="/hotel-transilvania" lines="full">
        <img slot="start" class="film" src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/i9kAWShk7qrqril2dLboP0hi8I2.jpg">
      <ion-label class="ion-text-wrap">
        <div class="desc">
          <h3>Hotel Transilvânia</h3>
          <p class="data">05/10/2012 (BR)</p>
          <ion-badge color="gray">Animação</ion-badge>
          <ion-badge color="gray" class="seg">Comédia</ion-badge>
          <ion-badge color="gray">Família</ion-badge>
          <ion-badge color="gray" class="seg">Fantasia</ion-badge>
          </div>
      </ion-label>

      <ion-chip class="nota-filme" color="DarkRed" outline>
        <ion-label>69%</ion-label>
      </ion-chip>
    </ion-item>
    <!--Hotel Transilvânia-->

    </ion-list>
</ion-content>
